<launch>     
    <!--SONAR to PCL Node-->
    <node name="pcl_conversion_node" 
            pkg="msis_pcl" 
            type="msis_pcl"  
            output="screen">
    </node>
    <rosparam command="load" file="$(find msis_pcl)/config/params.yaml"/>

    <!--Rviz-->
    <node type="rviz" name="rviz2" pkg="rviz" args="-d $(find msis_pcl)/rviz/config2.rviz" />

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find msis_pcl)/rviz/compare.rviz" />

    <!--Bag file: whole_minus_tf_static (no link between base_link adn ping360) && base-ping360.py -->    
    <!-- <node pkg="rosbag" type="play" name="player" args="-s 11 /home/soslab/auv_ws/bags/tank_test/whole_minus_static_tf.bag"/> -->
    <node pkg="rosbag" type="play" name="player" args="-s 12 --clock /home/soslab/auv_ws/bags/tank_test/whole.bag"/>
    
    <!--Adding the tf-->
    <!-- <node pkg="msis_pcl" type="base-ping360.py" name="hard_code_tf_node"/> -->

    <!--PCL Processing node-->
    <include file="$(find pcl_proc)/launch/filter.launch"/>

    <!--PCL to LaserScan Node-->
    <!-- <include file="$(find pcl_proc)/launch/pcl_laserscan.launch"/> -->

    <!-- <include file="$(find pcl_proc)/launch/costmap.launch"/> -->


</launch>     