<launch>
        <!-- <include file="$(find wamv_bringup)/launch/bringup_simulation.launch"/> -->
    <node name="testpcl_cpp" 
            pkg="msis_pcl" 
            type="msis_pcl"  
            output="screen">
    </node>
     <rosparam command="load" file="$(find msis_pcl)/config/params.yaml"/>
     <!-- <node type="rviz" name="rviz2" pkg="rviz" args="-d $(find msis_pcl)/rviz/config.rviz" /> -->
</launch>