<launch>

    <node name="testpcl" 
            pkg="msis_pcl" 
            type="msis_pcl.py"  
            output="screen">
    </node>
    <rosparam command="load" file="$(find msis_pcl)/config/params.yaml"/>
     <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find msis_pcl)/rviz/config.rviz" /> -->
</launch>